<div>
    <h1>
      <%= @tag.phrase %>
    </h1>
</div>

<div class="row">
  <div>
    <% @tag.tweets.order(created_at: :desc).each do |t| %>
      <p>
	      <%= t.user.name %> <%= "@#{t.user.username}" %>
        • <%= time_ago_in_words(t.created_at) %>
      </p>
    	<p>
    	  <%= t.message.html_safe %>
    	</p>
    <% end %>
   </div>
</div>
