<div class="row">
  <div class="col-md-12">
      <h1 class="text-center">
        <%= @tag.phrase %>
      </h1>
  </div>
</div>

<% @tag.tweets.order(created_at: :desc).each do |t| %>
<div class="row">
  <div class="col-md-12">
    <div class="well">
        <p>
          <%= t.user.name %> <%= "@#{t.user.username}" %>
          • <%= time_ago_in_words(t.created_at) %>
        </p>
        <p>
          <%= t.message.html_safe %>
        </p>
    </div>
  </div>
</div>
<% end %>
